*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Coke4U; 
   scroll-behavior: smooth;
}
body
{
    min-height: 100px;
}
.contact
{
    background: url(../images/hinh8.jpg);
    background-size: cover;
    
}
p{
    color: navy;
    font-size: 1.5em;
}

.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-spacing: 3px;
}
.titleText
{
    color: #fff;
    font-size: 2.5em;
    font-weight: 500;
}
.titleText span
{
    color: aquamarine;
    font-weight: 700;
    font-size: 1.5em;
}
.chiase{
    color: navy;
    font-size: 1.5em;
}
/* menu */
#sideNav
{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background:#f67c92;
    z-index: 2;
    transition: .5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;

    
}
nav ul li a:hover{
    color: black;
}
#menuBtn
{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

/* icon */
.sci
{
    position: absolute;
    top: 250px;
    left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    margin-left: 20px;
    background: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: 0.2s ease-in-out;
}
.sci li a:hover
{
    background: #ff0157;
    transform: translateY(-10px);
    transition: 0.3s;

}
.sci li a img
{
    filter: invert(1);
    transform: scale(0.5);
}

/* Map  */
.map-container
{
    position: relative;
    padding-bottom: 75%;
    padding-top: 30px;
    height:0;
    overflow: hidden;
}
.map-container>iframe
{
    position: absolute;
    top: 60px;
    left: 420px;
    height: 30%;
    width: 30%;
}

.chantrang
{
   margin-top: -400px;
    padding: 10px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color:#25287b;
    
}
.chantrang p
{
    color:wheat;
}
