*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    padding: 2px;
    background: thistle;
}

.header{
    padding: 20px;
    text-align: center;
    background:white;
    color:#25287b;
    background-color:mistyrose;
    
}

.header p{
    font-size: 80px;
    text-align: center;
    color:orange;
    text-shadow:0 0 5px aqua;    
}

.topnav{
    overflow: hidden;
    background-color:#25287b;
}
.topnav a{
    float: left;
    display: block;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.topnav a:hover{
    background-color:thislte;
    color: orange;
}
.leftcolumn{
    float:left;
    width: 81%;
}
.rightcolumn{
    float: left;
    width: 19%;
    background-color: #d8e4f4;
    padding-left: 20px;
    background:thistle;
    color:brown;
   
}
.images{
    width: 100%;
    height: 200px;
}
.card-news{
    width: 30%;
    background-color: white;
    padding: 20px;
    margin: 20px;
    float: left;
}
.card-news h2{
    text-align: center;
}
.card-news a{
    text-align:center;
}
.card-news a>img{
    padding:10px;
    margin:5px;
    box-shadow: 5px 5px tomato;
    width:310px;
    height:200px;
    border-radius: 10px;
    background-color:thistle;
}
.card-news a>img:hover{
    box-shadow: 5px 5px darkorange;
    background-color:aqua;
}

.row:after{
    content:"";
    display: table;
    clear: both;
}
.card{
    
    padding: 5px;
    margin-top: 5px;
    text-align:center;
    background:white;
    color:coral; 
}
.card h2{
    color:brown;
    font-size: 35px;
}
.footer{
    padding: 5px;
    text-align: center;
    color:wheat;
    background:#25287b;
    margin-top: 10px;
    
}